.btn-outline-primary {
    width: 40px;
    margin: 0 5px;
}
.btn-outline-success {
    width: 40px;
}
.done {
    text-decoration: line-through;
}
.important {
    color: #007bff;
    font-weight: bold;
}

.btn_green {
    background: #28a745;
}

.i_bg_white {
    color: white;
}