.addTask {
    margin-left: 5px;
    width: 45px;
    height: 38px;
}
.input{
    width: 100%;
}
.addForm-enter {
    opacity: 0;
}
.addForm-enter-active {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}
.addForm-exit {
    opacity: 1;
}
.addForm-exit-active {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}